name: Android CI


on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2

    - name: set up JDK
      uses: actions/setup-java@v1
      with:
        distribution: 'zulu'
        java-version: 17

    - name: Cache Gradle and wrapper
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
           ${{ runner.os }}-gradle-

    - name: Build with Gradle
      run: ./gradlew build
